<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="footer" th:fragment="footer">
    <div class="footer-content">
        <div class="footer-col">
            <h1>About Us</h1>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h1>Courses</h1>
            <ul>
                <li><a href="#">All Courses</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Instructors</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h1>Support</h1>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h1>Legal</h1>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>& copy; 2025 Learniverse. All rights reserved.</p>
    </div>
</section>
</body>
</html>
