<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar" th:fragment="navbar">
    <h1>
        <a th:href="@{/home}" class="logo">LEARNIVERSE<br>CONNECT</a>
    </h1>

    <div class="search-container">
        <label>
            <input type="text" placeholder="Search courses..." class="search-input" />
        </label>
        <button class="search-btn">🔍</button>
    </div>

    <ul class="nav-links">
        <li><a th:href="@{/home}">Home</a></li>

        <li class="dropdown">
            <input type="checkbox" id="cat-toggle" />
            <label for="cat-toggle" class="category-label">Category</label>
            <ul class="dropdown-content">
                <li><a th:href="@{/informationTechnologies}">Information Technologies</a></li>
                <li><a th:href="@{/digitalMarketing}">Digital Marketing</a></li>
                <li><a th:href="@{/businessEntrepreneurship}">Business & Entrepreneurship</a></li>
                <li><a th:href="@{/dataScienceAnalytics}">Data Science & Analytics</a></li>
            </ul>
        </li>

        <li><a th:href="@{/course}">Course</a></li>
        <li><a th:href="@{/contactUs}">Contact Us</a></li>
        <li class="ctn"><a th:href="@{/login}">Login</a></li>
    </ul>

    <img th:src="@{/images/menu.png}" alt="Menu" class="menu-btn" />
</nav>
</body>
</html>
