*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif Serif;
    background: linear-gradient(to bottom, #E3F2FD, #FFFFFF);

    /* Navbar container styling */

    .navbar {
        display: flex;
        align-items: center;
        position: relative;
        padding: 1rem 3rem;
        background-color: #1e1f22;
        justify-content: space-between;


        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-grow: 1;
            max-width: 400px;
        }


        /* Logo styling */

        .logo {
            padding-left: 5px;
            padding-bottom: 20px;
            color: #eeb54c;
            font-size: 25px;
            font-family: SansSerif, serif;
        }

        /* Navigation links container */

        .nav-links {
            margin-top: 2rem;
            display: flex;
            list-style: none;
            gap: 10rem;
        }

        /* Individual navigation link styling */

        .nav-links a {
            color: #eeb54c;
            text-decoration: none;
            font-size: 1.1rem;
        }

        /* Navigation link hover effect */

        .nav-links a:hover {
            color: white;
        }

        .search input {
            flex: 1;
            padding: 8px 137px;
            border: 1px solid #ddd;
            border-radius: 20px;
            font-size: 15px;
        }

        /* Login and Sign Up button styling */

        .login-btn {
            padding: 5px 15px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            background-color: #eeb54c;
            color: white;
        }

        /* Authentication buttons hover effect */

        .login-btn:hover {
            background-color: #604107;
        }

        .course-container {
            padding: 150px 20px;
            text-align: center;
        }

        .course-container h1 {
            font-size: 2.5rem;
            margin-bottom: 15px;
            color: #333;
        }

        .courses-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            max-width: 1350px;
            margin: 40px auto;
            padding: 0 20px;
        }

        .course-card {
            background: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            text-align: center;
        }

        .course-card:hover {
            transform: scale(1.05);
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        }


        .course-card img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .course-card h2 {
            color: #333;
            margin-bottom: 10px;
            font-size: 1.1em;
        }

        .avatar-container {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 80%;
            object-fit: cover;
        }
    }
}
















