* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: black;
}

.contact-hero {
    background-color: #1b1c1c;
    text-align: center;
    padding: 100px 20px 40px;
    color:  #eeb54c;
    margin-top: 10vmin;
}

.contact-hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid gold;
    display: inline-block;
    padding-bottom: 10px;
}

.contact-hero p {
    max-width: 600px;
    margin: auto;
    color: whitesmoke;
}

/* Info Cards */
.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 60px 10vw;
    background-color: #1b1c1c;
    flex-wrap: wrap;
    gap: 20px;
}

.info-box {
    background: #2a2a2a;
    padding: 30px;
    flex: 1;
    min-width: 250px;
    color: #ddd;
    border-radius: 8px;
}

.info-box h3 {
    color: gold;
    margin-bottom: 10px;
}

.info-box a {
    color: gold;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

/* Contact Form */
.contact-form {
    display: flex;
    justify-content: space-between;
    padding: 80px 10vw;
    background-color: #121212;
    flex-wrap: wrap;
    gap: 40px;
}

.form-box {
    flex: 1;
    min-width: 300px;
}

.form-box input,
.form-box textarea {
    width: 100%;
    background-color: #1f1f1f;
    color: #eee;
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
}

.form-box button {
    background-color: gold;
    color: #000;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form-info {
    flex: 1;
    min-width: 300px;
    color: #eee;
}

.form-info h4 {
    color: #999;
    margin-bottom: 10px;
}

.form-info h2 {
    color: gold;
    font-size: 36px;
    margin-bottom: 20px;
}

.form-info p {
    color: #aaa;
}
