*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 1.2;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f44336;
}

.search {
    display: flex;
    gap: 10px;
    width: 400px;
}

.search input {
    flex: 1;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
}

.btn {
    padding: 8px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.course-container {
    padding: 150px 20px;
    text-align: center;
}

.course-container h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1350px;
    margin: 40px auto;
    padding: 0 20px;
}

.course-card {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.course-card:hover {
    transform: translate(0, -50px);
}


.course-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.course-card h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.1em;
}










