
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #eeb54c;
}

ul{
    list-style: none;
}

.active{
    color: #171819;
    text-decoration: underline;
    font-weight: bold;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(20, 55, 94);

}
/* NAVBAR WRAPPER */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #eeb54c;
}

/* NAV LINKS IN THE CENTER */
.nav-links {
    display: flex;
    align-items: center;
    color: #eeb54c;
}

.nav-links li {
    margin: 0 30px;
    color: #eeb54c;
}

.nav-links a {
    text-decoration: none;
    color: #eeb54c;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #E3F2FD;
}

.logo{
    font-size: 2.9vmin;
    font-weight: bold;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin-left: 80px;
}
.search input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 15px;
}

.btn {
    padding: 8px 15px;
    background: rgb(6, 41, 81);
    border-radius: 30px;
    color: whitesmoke;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notice, .shopping, .avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}
.notice:hover, .shopping:hover, .avatar:hover {
    transform: scale(1.05);
}

.dropdown {
    position: relative;
}
.dropdown input[type="checkbox"] {
    display: none;
}
.category-label {
    color: #eeb54c;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 2.5rem;
    left: 0;
    background-color: #000000;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.dropdown-content li a {
    display: block;
    padding: 10px 15px;
    color: #eeb54c;
    text-decoration: none;
    font-size: 1.1rem;
    white-space: nowrap;
}
.dropdown input[type="checkbox"]:checked ~ .dropdown-content {
    display: block;
}

.course-container {
    padding: 150px 20px;
    text-align: center;
}
.course-container h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #63f306;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1350px;
    margin: 40px auto;
    padding: 0 20px;
}
.course-card {
    background: rgba(174, 164, 164, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}
.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.course-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}
.course-card h2 {
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.footer {
    background-color: #2a2b2d;
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    margin-bottom: 0px;
}

.footer-content {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #eeb54c;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-col h1 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 8px;
}

.footer-col a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}

.footer-col a:hover {
    color: #fc036b;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: whitesmoke;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.footer-bottom p{
    color: whitesmoke;
}

/*Mobile device*/
@media only screen and (max-width: 850px) {

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(16, 16, 16, 0.9);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .search {
        order: 2;
        width: 90%;
        margin: 10px auto;
        display: none;
    }

    .icon-container {
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }

    .notice, .shopping, .avatar {
        width: 30px;
        height: 30px;
        display: none;
    }

    .courses-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .footer{
        padding: 10px;
    }
    .footer-content{
        flex-direction: column;
    }
}
