html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    background-color: #2a2b2d;
    padding: 70px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.footer-content {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #eeb54c;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-col h1 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 8px;
}

.footer-col a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}

.footer-col a:hover {
    color: #5fddf3;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: whitesmoke;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.footer-bottom p {
    color: whitesmoke;
}