/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #eeb54c;
}

ul {
    list-style: none;
}

.active {
    color: #171819;
    text-decoration: underline;
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;

}

/*Navbar Style*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #eeb54c;
    background-color: #1b1c1c;
}

.nav-links {
    display: flex;
    /*position: absolute;*/
    align-items: center;
    color: #eeb54c;
}

.nav-links li {
    margin: 0 30px;
    color: #eeb54c;
}

.nav-links li :hover {
    color: #E3F2FD;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 35px;
    margin-left: 15vmin;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.search-input {
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 0.9rem;
    border-radius: 30px;
    width: 350px;
}

.search-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #2a2b2d;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown input[type="checkbox"] {
    display: none;
}

.category-label {
    color: #eeb54c;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #2a2b2d;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 220px;
    z-index: 999;
    border-radius: 5px;
}


.dropdown-content li a {
    display: block;
    padding: 10px 15px;
    color: #eeb54c;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
}


.dropdown-content li a:hover {
    background-color: #604107;
    color: #fff;
}


.dropdown input[type="checkbox"]:checked~.dropdown-content {
    display: block;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/f7/52/0b/f7520b191a02451117c462faf7c87159.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 200px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 6vmin;
}


.header-content h1 {
    font-size: 2vmin;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ctn {
    padding: 8px 15px;
    background: rgb(6, 41, 81);
    border-radius: 30px;
    color: whitesmoke;
}



.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/*Events*/
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(244, 104, 3);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #555555;
    margin: 20px auto;
}

p {
    color: #555555;
    padding: 0px 40px;
}

.event .ctn {
    margin-top: 30px;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/30/8f/2f/308f2fd627c36e007527bc50337f6c7b.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 3vmin;
}

.explore-content .line {
    margin-bottom: 40px;
    width: 55%;
}

.explore-content p {
    color: rgb(221, 221, 221);
    width: 70%;
}

.explore-content .ctn {
    margin-top: 20px;
}

.content-col {
    width: 30%;
}

.image-col {
    width: 60%;
}

.tours .images-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}

.images-gallery img {
    width: 250px;
    margin: 10px;
}

.content-col h1 {
    font-size: 7vmin;
    color: #484871;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn {
    margin-left: -100px;
}

.footer {
    background-color: #2a2b2d;
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 0px;
}

.footer-content {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #eeb54c;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-col h1 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 8px;
}

.footer-col a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}

.footer-col a:hover {
    color: #fc036b;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: whitesmoke;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.footer-bottom p {
    color: whitesmoke;
}



/*Mobile device*/
@media only screen and (max-width: 850px) {

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .search-container {
        display: none;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(16, 16, 16, 0.9);
        /*mobile*/
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li {
        margin: 30px auto;
    }

    /*Events*/
    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px 0;
    }

    .col img {
        width: 90%;
    }

    /*Explore*/
    .explore-content {
        width: 100%;
    }

    .tours .col {
        width: 100%;
    }

    .images-gallery {
        justify-content: center;
        align-items: center;
    }

    .images-gallery img {
        width: 90%;
    }

    .footer {
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
    }
}