/* Reset default margins, padding, and set box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling: background image, color, and full viewport height */
body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("/src/main/resources/static/images/Wallpaper 4k.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

/* Additional container with similar background styling */
.main {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("/src/main/resources/static/images/Wallpaper 4k.jpeg");
    background-position: center;
    background-size: cover;
    height: 109vh;
}

/* Navbar container styling */
.navbar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 3rem;
    background-color:transparent;
    justify-content: space-between;

}

/* Logo styling */
.logo {
    padding-left: 5px;
    padding-bottom: 30px;/*margin between top of the page*/
    color: white;
    font-size: 25px;
    font-family: SansSerif, serif;
}

/* Navigation links container */
.nav-links {
    margin-top: 4.5rem;
    display: flex;
    list-style: none;
    gap: 10rem;
}

/* Individual navigation link styling */
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Navigation link hover effect */
.nav-links a:hover {
    color: orange;
}

/* Search area container styling */
.search {
    margin-bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* Search input field styling */
.search input {
    width: 400px;
    padding: 4px 15px;
    border-radius: 10px;
    font-size: 16px;

}
