
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/736x/7f/cb/f4/7fcbf4460af8623ebf4180d31fc97ce4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Navbar style */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #eeb54c;
    background-color: #1b1c1c;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
}

.logo a {
    color: #eeb54c;
    text-decoration: none;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}

.signup-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    border-radius: 10px;
    width: 325px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.signup-box label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
}

.signup-box input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}

.signup-submit {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #708bb4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.signup-submit:hover {
    background-color: orange;
}

.login-link {
    margin-top: 1rem;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}

.login-link a {
    color: orange;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-box {
        width: 90%;
    }
}
