
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/736x/4f/9d/74/4f9d749ee4b8f28e66e4c5c80517f1da.jpg");
    background-size: cover;
    background-position: center;
}

/* Navbar style */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #000000;
}

.logo a{
    font-size: 23px;
    font-weight: bold;
    color: #eeb54c;
    text-decoration: none;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}

.signup-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    border-radius: 10px;
    width: 325px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #eeb54c;
}

.signup-box label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
}

.signup-box input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}

.signup-submit {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #708bb4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.signup-submit:hover {
    background-color: orange;
}

.login-link {
    margin-top: 1rem;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}

.login-link a {
    color: orange;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-box {
        width: 50%;
    }
}
