<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <title>Business & Entrepreneurship</title>

</head>
<body>

<!-- Navbar -->
<div th:replace="components/navbar :: navbar"></div>

<!-- Course Container -->
<section class="course-container">
    <h1 th:text="${categoryTitle}">Category Title</h1>
    <div th:replace="components/courseCard :: courseCards(${courses})"></div>
</section>

<!-- Footer -->
<div th:replace="components/footer :: footer"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuBtn = document.querySelector(".menu-btn");
        const navLinks = document.querySelector(".nav-links");

        if (menuBtn && navLinks) {
            menuBtn.addEventListener("click", function () {
                navLinks.classList.toggle("mobile-menu");
            });
        }
    });
</script>

</body>

</html>