<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="../static/css/cart.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <h2 class="logo"><a href="./home.html">LEARNIVERSE<br>CONNECT</a></h2>

    <ul class="nav-links">
      <li><a href="home.html">Home</a></li>
      <li class="dropdown">
        <input type="checkbox" id="cat-toggle">
        <label for="cat-toggle" class="category-label">Category</label>
        <ul class="dropdown-content">
          <li><a href="informationTechnologies.html">Information Technologies</a></li>
          <li><a href="digitalMarketing.html">Digital Marketing</a></li>
          <li><a href="business&Entrepreneurship.html">Business & Entrepreneurship</a></li>
          <li><a href="dataScience&Analytics.html">Data Science and Analytics</a></li>
        </ul>
      </li>
      <li><a href="#">Course</a></li>
      <li><a href="contactUs.html">About</a></li>
    </ul>

    <div class="auth-buttons">
      <button class="login-btn"><a href="./login.html">Login</a></button>
    </div>
  </nav>

  <div class="container">
    <h1>Shopping Cart</h1>
    <div class="products">
      <div class="product">
        <img src="../images/Databricks.png" alt="Product">
        <h2>Product 1</h2>
        <p>Price: $10</p>
      </div>

      <div class="product">
        <img src="../images/Databricks.png" alt="Product">
        <h2>Product 2</h2>
        <p>Price: $15</p>
      </div>
    </div>

    <h2>Cart</h2>
    <div class="cart">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="cart-items"></tbody>
      </table>
      <h3>Total: $<span id="cart-total">0</span></h3>
    </div>
  </div>

</body>

</html>