<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home.css">
  <title>LEARNIVERSE CONNECT</title>
</head>

<body>

<!-- Navbar -->
<div id="navbar-placeholder"> </div>

  <header>
    <div class="header-content">
      <h2> Web Design & Development Course</h2>
      <br>
      <h1> Join our interactive Web Design & Development Course and build the digital skills for tomorrow.</h1>
      <a href="login.html" class="ctn">Join Us</a>
    </div>
  </header>

  <section class="events">
    <div class="title">
      <h1>Upcoming Events</h1>
      <div class="line"></div>
    </div>

    <div class="row">
      <div class="col">
        <img src="../static/images/python.jpg" alt="">
        <h4> JAVA</h4>
        <p> This is the really exclusive event. I f you are interested on it. Just join this event.</p>
        <a href="#" class="ctn">Learn more</a>
      </div>

      <div class="col">
        <img src="../static/images/python.jpg" alt="">
        <h4> Python</h4>
        <p> This is the really exclusive event. I f you are interested on it. Just join this event.</p>
        <a href="#" class="ctn">Learn more</a>
      </div>
    </div>
  </section>

  <section class="explore">
    <div class="explore-content">
      <h1>EXPLORE OUR ONLINE LEARNING PLATFORM </h1>
      <div class="line"></div>
      <p>Unlock your potential with world-class courses, expert mentorship, and a vibrant learning community. Take the
        next step in your journey today!</p>
      <a href="#" class="ctn">Learn more</a>
    </div>
  </section>

  <section class="tours">
    <div class="row">
      <div class="col content-col">
        <h1>Our Courses</h1>
        <p> Click and Learnmore about the Courses. </p>
        <a href="#" class="ctn"> Learn more</a>
      </div>

      <div class="col image-col">
        <div class="images-gallery">
          <img src="../static/images/dataScience.jpg" alt="">
          <img src="../static/images/Search%20Engine%20Optimization.png" alt="">
          <img src="../static/images/python.jpg" alt="">
          <img src="../static/images/coding.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

<!-- Footer-->
<div id="footer-placeholder"></div>

<script>
  // Navbar
  fetch('navbar.html')
          .then(res => res.text())
          .then(data => {
            document.getElementById('navbar-placeholder').innerHTML = data;

            const menuBtn = document.querySelector('.menu-btn');
            const navLinks = document.querySelector('.nav-links');
            if (menuBtn && navLinks) {
              menuBtn.addEventListener('click', () => {
                navLinks.classList.toggle('mobile-menu');
              });
            }
          });

  // Footer
  fetch('footer.html')
          .then(res => res.text())
          .then(data => {
            document.getElementById('footer-placeholder').innerHTML = data;
          });
</script>

</body>
</html>