<!doctype html>
<html lang="en">
<head>
  <title>LEARNIVERSE</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="navbar">
  <h2 class="logo">LEARNIVERSE</h2>
</div>
<div class="menu">
  <ul>
    <li><a href="#">HOME</a> </li>
    <li><a href="#">About</a> </li>
    <li><a href="#">Service</a> </li>
    <li><a href="#">Design</a> </li>
    <li><a href="#">Contract</a> </li>
  </ul>
</div>

<div class="search">
  <input class="srch" type="search" name="" placeholder="Search For Anything">
  <a href="#"> <button class="btn">Search</button></a>
</div>

<div class="content">
  <h1>Web Design & <br><span>Development</span> <br>Course</h1>
  <p class="par" Welcome to Learniverse – Your Gateway to Knowledge! <br> Learniverse
  is an innovative online learning platform designed to empower learners worldwide.<br> Whether
  you're looking to upskill, explore new subjects, or advance your career,<br> we offer a diverse range of courses tailored to your
  needs.<br> Join us and start your learning journey today!
  </p>

  <button class="cn"><a href="#"> JOIN US</a></button>
  <div class="form">
    <h2>Login Here</h2>
    <input type="Email" name="Email" placeholder="Enter Email here">
    <input type="Password" name="Password" placeholder="Enter Password here">
    <button class="btn"><a href="#">Login</a> </button>

    <p class="Link"> Dont have an account</p><br>
    <a href="#"> Sign up here</a>
    <p class="liw">Log in with<a </p>
  </div>

</div>




</div>

</body>
</html>
