<!-- navbar.html -->
<nav class="navbar">
    <h1 class="logo">LEARNIVERSE<br>CONNECT</h1>

    <div class="search-container">
        <input type="text" placeholder="Search courses..." class="search-input">
        <button class="search-btn">🔍</button>
    </div>

    <ul class="nav-links">
        <li><a href="http://localhost:8080">Home</a></li>

        <li class="dropdown">
            <input type="checkbox" id="cat-toggle">
            <label for="cat-toggle" class="category-label">Category</label>
            <ul class="dropdown-content">
                <li><a href="informationTechnologies.html">Information Technologies</a></li>
                <li><a href="digitalMarketing.html">Digital Marketing</a></li>
                <li><a href="business&Entrepreneurship.html">Business & Entrepreneurship</a></li>
                <li><a href="dataScience&Analytics.html">Data Science & Analytics</a></li>
            </ul>
        </li>

        <li><a href="#">Course</a></li>
        <li><a href="about.html">About</a></li>
        <li class="ctn"><a href="login.html">Login</a></li>
    </ul>

    <img src="../static/images/menu.png" alt="Menu" class="menu-btn">
</nav>
